body{
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    display: flex;
    padding-top: 30vh;
    justify-content: center;
    background-image: url(cover.jpg);
}
.group{
    margin: 10px;
    display: grid;
    height: 30px;
    grid-template-columns: 1fr auto;
    gap: 0 15px;
}
.form-control{
    min-width: 250px;

}
.list-group{
    margin-top: 50px;
    scroll-snap-type: none;
}
.list-group-item{
    border-radius: 20px;
    margin-top: 5px;
}